<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
      <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>
    <div class="top"><h1>Arbortrary</h1>
        <div class="top_right">
            <span style="font-size: 25px;"><h3> Welcome {{this_user.first_name}}!</h3></span>   
        </div>
    </div>
    <div class="nav">
        <p>A site to track randomly planted trees</p>
        <div><a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <h1 style=" margin: 0 auto;width: 700px; padding-top:70px;">Re-Plant Your Tree</h1><br>
    <main>
        <form action="/update/{{this_tree.id}}" method="post"style="display: flex;flex-direction: column;height: 350px;width: 250px;justify-content: space-around;">
            {% csrf_token %}
            <div>Species:<br><input type="text"name="species"></div>
            <div>Location:<br><input type="text"name="location"></div>
            <div>Reason: <br><input type="text"name="reason"></div>
            <div>Date Planted <br><input type="date"name="date"></div>
            <button style="width: 100px;margin-left:10px">Updated</button>
        </form>
    </main>   
</body>
</html>