<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
      <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>
    <div class="top"><h1>Arbortrary</h1>
        <div class="top_right"><a href="/user/account">My Trees</a>
            <span style="font-size: 25px;"><h3> Welcome, {{this_user.first_name}}!</h3></span>   
        </div>
    </div>
    <div class="nav">
        <p>A site to track randomly planted trees</p>
        <div><a href="/new/tree">Plant a Tree</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <main style="padding-top: 60px; height: 250px;">
        <table>
            <tr>
                <th>Species</th>
                <th>Blanted By</th>
                <th>Actions</th>
            </tr>
            {%for tree in all_trees%}
                <tr>
                    <td>{{tree.species}}</td>
                    <td>{{tree.user.first_name}} {{tree.user.last_name}}</td>
                    <td><a href="/show/{{tree.id}}">details</a></td>
                </tr>
            {%endfor%}
        </table>
    </main> 
    <header>
        {% for message in messages %}
        <p style="color: red;">{{message}}</p> 
        {% endfor %}  
    </header>     
</body>
</html>