<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
      <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>
    <div class="top"><h1>Arbortrary</h1>
        <div class="top_right"><a href="/user/account">My Trees</a>
            <span style="font-size: 25px;"><h3> Welcome {{this_user.first_name}}!</h3></span>   
        </div>
    </div>
    <div class="nav">
        <p>A site to track randomly planted trees</p>
        <div><a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <main style="padding-top: 20px;flex-direction: column;height: 300px;">
    <h1>{{this_tree.species}} planted by {{this_user.first_name}} {{this_user.last_name}}</h1>
    <h3>Where: {{this_tree.location}}</h3>
    <h3>When: {{this_tree.created_at}}</h3>
    <h3>Reason: {{this_tree.reason}}</h3>
    </main>   
</body>
</html>