<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>
    <form action="/guess" method="post">
        {% csrf_token %}
        <h1>Welcome to the Great Number Game!</h1>
        <p>I am thinking of a number between 1 and 100</p>
        <p>Take a guess!</p>
        <p>{{request.session.guess}}</p>
        <p class="result">{{request.session.result}}</p>
        <br>
        <div>
            <input type="number" name="user_number" class="input1" >
            <input type="submit" value="submit" class="input2">
        </div>
    </form>
</body>
</html>