<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Index Page</h1>
    <h3>Create a User</h3>
    <form action='/users' method='post'>
        {% csrf_token %}
        <!-- <P>{{name_from}}</P> -->
        <!-- <P>{{request.session.N}}</P> -->
        Name: <input type='text' name='name'>
        Email: <input type='text' name='email'>
        <button type='submit'>Create User</button>
        <input type="hidden" name="action" value="register">
        <input type="text" name="last_name" value="rabab">
    </form>


</body>
</html>