main{
    width: 600px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 150px;
}
.input2{
    width: 60px;
    box-shadow: 2px 2px 2px black;
}
.input1{
    width: 80px;

}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 80px;
}